<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
</head>
<body>
       <div class="container">
              <h2> Welcome , {{username}}</h2>
              <p> thankyou for singning in , we are excited to have your board</p>
              <p> feel free to explore our platform and let us know hows ur feeling this </p>
              <p>and you are following the cource {{cource}}</p>
       </div>
       <hr>
       <small> This is automated email . please  do not reply it </small>
</body>
</html>